/* ----------frame---------- */
#FlexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    border: 0.5px solid rgb(182, 182, 182);
    border-radius: 7.5px;
    padding: 5px;
    height: fit-content;
}

a {
    text-decoration: none;
    user-select: none;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* ----------div SlideShow---------- */
#divSlideShow {
    overflow: hidden;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

.mySlides {
    width: 100%;
    height: 504px;
}

.divSlideImage {
    float: left;
    width: 100%;
}

.divSlideButtonNP {
    margin-left: 2.5%;
    width: 95%;
    height: 50px;
    float: left;
    margin-top: -55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divSlideButton {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
}

.SlideNum {
    color: #203e76;
}

.slideButton>a {
    user-select: none;
    transform: rotate(-45deg);
}

.w3-button {
    color: #f1f1f1;
}

.divSlideButtonNP>.slideButton {
    background-color: #203e76;
}

.slideButton {
    background-color: #f1f1f1;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    border: 0.5PX solid rgb(214, 214, 214);
}

.wrapper:hover {
    background: #203e76;
    transition: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 20px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wrapper:hover>a {
    color: #f1f1f1;
}

.divSlideButtonNP>div:hover {
    background: #f1f1f1;
    transition: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 20px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.divSlideButtonNP>div:hover>a {
    color: #203e76;
}

/* ----------div Content---------- */
#FirstContent {
    width: 650px;
}

.discription {
    text-align: right;
    width: 100%;
}

.dscHeader>span {
    margin-right: 5px;
    font-size: 1.2vw;
}

.spanBlueFont {
    color: rgb(40, 212, 212);
}

.dscBody {
    padding-top: 10px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    height: 50%;
}

.divDSC {
    margin-bottom: 5px;
    border-radius: 7.5px;
}

.item>span {
    font-size: 18px;
    margin: 12px;
}

.divColor {
    float: right;
    width: 35px;
    height: 35px;
    margin-right: 5%;
    border-radius: 50%;

}

.clrOfColorPallet {
    width: 25%;
}

.color {
    border: 0.5px solid gray;
    width: 75%;
    height: 75%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 50%;
}

#divColorPallet {
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 5px;
    margin-right: 10%;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
}

#liPropeties {
    margin-top: 10px;
    color: gray;
    margin-right: 20px;
}

.dscFooter {
    height: 236px;
}

.divHr {
    padding-right: 1%;
    width: 98%;
}

.hrDiv {
    color: gray;
    font-size: 10px;
    margin-top: -5px;
    float: right;
}

.hrProduct {
    width: fit-content;
}

.hr {
    width: 50%;
}

/* ----------div Similar Products---------- */
.divSimilarProducts {
    border: 0.5px solid gray;
    border-radius: 7.5px;
    width: 15.5%;
    text-align: center;
}

.divHeadSimilarProducts {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    border-radius: 5px 5px 0 0;
    background-color: #203e76;
    border: 1px solid #203e76;
    height: 25px;
    padding-top: 2px;
    width: 100%;
}

#SimilarProducts {
    text-align: center;
    width: 95%;
    float: right;
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin-right: 1%;
}

.products {
    margin-bottom: 5px;
    border-radius: 4px;
}

#pro {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    border-radius: 7.5px;
    padding: 2px;
    width: 100%;
    height: 185px;
}

#picture {
    padding: 2.5px 20px;
    height: 150px;
    width: 80%;
    border-radius: 50%;
}

#comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pro:hover {
    transition: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 20px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.aInfo {
    text-decoration: none;
    color: black;
}

#spanContent {
    color: rgb(240, 240, 240);
}

.Content {
    font-size: 1vw;
}

/* ----------div Horizontal Similar Products---------- */
#divHorizontalSimilarProduct {
    display: none;
    justify-content: center;
    border: 1px solid #203e76;
    border-radius: 0 0 5px 5px;
    width: 95%;
    height: 190px;
    overflow-x: scroll;
}

.divHeadHorizontalSimilarProducts {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    border-radius: 5px 5px 0 0;
    width: 95%;
    background-color: #203e76;
    border: 1px solid #203e76;
    height: 20px;
    text-align: center;
    margin-top: 5px;
}

.proHorizontal {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    border-radius: 7.5px;
    padding: 2px;
    width: 100%;
    height: 155px;
}

.productHorizontal {
    margin: 7.5px;
}

/* ----------Responsive---------- */
@media (max-width: 1436px) {
    #SimilarProducts {
        display: none;
    }

    .divSimilarProducts {
        display: none;
    }

    #divHorizontalSimilarProduct {
        display: block;
        display: flex;
    }

    .divHeadHorizontalSimilarProducts {
        display: block;
    }

}

@media (max-width: 1190px) {
    #SimilarProducts {
        display: block;
    }

    .divSimilarProducts {
        display: block;
    }

    #divHorizontalSimilarProduct {
        display: none;
    }

    .divHeadHorizontalSimilarProducts {
        display: none;
    }
}

@media (max-width: 816px) {
    #SimilarProducts {
        display: none;
    }

    .divSimilarProducts {
        display: none;
    }

    #divHorizontalSimilarProduct {
        display: block;
        display: flex;
    }

    .divHeadHorizontalSimilarProducts {
        display: block;
    }
}