#divSlideShow {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

#slideIMG {
    width: 100%;
}

#divContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#divProperties:hover~#divProContent {
    height: 200px;
    transition: 0.75s;
}

.divTitle:hover>#i1 {
    display: none;
}

.divTitle:hover>#i2 {
    display: block;
}

.divTitle {
    text-align: center;
}

#divDescription:hover~#divProDesc {
    height: 200px;
    transition: 0.75s;
}

#i1 {
    font-size: 25px;
}

#i2 {
    display: none;
    font-size: 25px;
}

#divProContent {
    direction: rtl;
    overflow: hidden;
    height: 0.1px;
}

#divProDesc {
    direction: rtl;
    overflow: hidden;
    height: 0.1px;
    width: 70%;
}

#test {
    width: 70%;    
}

/* #imgInfo {
    width: 250px;
    height: 15px;
} */

#img1 {
    width: 250px;
    height: 150px;
}

